/* Custom styles for Reveal.js presentation in Quarto with simple theme */
.reveal {
  /* Background color (customizable) */
  background-color: #f5f4f0; /* Light blue background */
}


:root {
  --slide-max-width: 100%; /* O usa 100% si quieres pantalla completa */
}

.smaller {
  font-size: 0.55em;
}

.medium {
  font-size: 0.65em;
  line-height: 1.8;
}

